.botao:hover{
			background-color: deeppink;
			color gray;
			text-transform: uppercase;
		}
		.botao{
			display: block;
			background-color: #000000;
			color: #FFFFFF;
			font-weight: bold;
			width: 100px;
			height: 40px;
			text-decoration: none;
			text-align: center;
			border-radius: 20px;
			/*
				border-width: 1px;
				border-style: solid;
				border-color: blue;
			*/
			border: 1px solid blue;
		}
		.imagem{
			background-image: url("../imagens/francisco.jpg");
			height: 500px;
			background-repeat: no-repeat;
		}
		.campo-texto{
			background-color: #949494;
		}
		.campo-texto:focus{
			outline: none;
			border-bottom: 1px solid yellow;
		}